:root {
    --logoWidth: 50px;
    --clubLogoWidth: 100px;
    --fontSize30: 30px;
    --fontSize25: 25px;
    --fontSize20: 20px;
    --fontSize15: 15px;
    --gridTemplateColumns: auto auto;
    --black: #1d1815;
    --yellow: #f0dc00;
    --red: #db2519;
    --orange: #e6760e;
}


body {
    background-color: whitesmoke;
}

.content {
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    margin-bottom: 40px;
}

#logo {
    width: var(--logoWidth);
}

#trophy {
    width: var(--logoWidth);
    float: right;
}

.fpLogo {
    padding: 5px;
}

.title1 {
    font-size: var(--fontSize25);
    vertical-align: top;
    font-style: italic;
}

.title2 {
    font-size: var(--fontSize30);
    vertical-align: bottom;
    font-style: italic;
    font-weight: bold;
}

.header {

}

.logos {
    display: flex;
    text-align: center;
}

.logos a, .logos p {
    text-decoration: none;
    text-align: center;
    font-size: var(--fontSize15);
}

a:link, a:visited {
    color: blue;
}

.logos li {
    list-style: none;
    padding: 5px;
}

.logos img {
    width: var(--clubLogoWidth);
}

.pauza {
    display: none
}

.team p {
    text-align: left;
}

.form p {
    text-align: left;
}

.teamEdit {
    margin: 5px 10px 20px;
    padding: 10px 5px;
    display: flex;
}

.teamEdit p {
    text-align: left
}

.teamEdit a {
    margin: 5px;
    text-decoration: none;
    box-shadow: 0 0 5px black;
    padding: 5px;
}

.deleteMday {
    float: right;
    padding: 5px;
}

.headerEdit a {
    text-decoration: none;
}

.headerEdit > span:first-of-type {
    font-size: var(--fontSize30);
    padding: 20px 0px;
}

.mDayInput p {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 0 0 5px black;
    margin: 5px 10px 20px;
}

.mDayInput a {
    margin: 0 0 0 5px;
    text-decoration: none;
}

#k5, #k6, #k7, #k8, #k9 {
    display: none;
    margin: 15px 10px 20px;
    padding: 5px;
}

.table table {
    background-color: seashell;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    border-bottom: 1px solid gray;
}

.table th {
    font-size: var(--fontSize15);
}

.table td {
    font-size:  var(--fontSize20);
    padding: 3px 10px
}

.table th:nth-child(2), .table td:nth-of-type(2), .table td:nth-of-type(3) {
    text-align: left;
    padding-left: 5px;
}

.table tr:nth-of-type(1) {
    background-color: yellow;
}

.table tr:nth-of-type(n+2):nth-of-type(-n+5) td:nth-of-type(1) {
    background-color: blue;
}

.results table {
    font-size:  var(--fontSize20);
    margin-bottom: 20px; 
    border-collapse: collapse;
}

.results tr td {
    border-bottom: 1px solid black;
    padding: 3px 5px;
}

.results td:first-of-type {
    text-align: right;
    padding-right: 10px;
}

.results td:last-of-type {
    text-align: left;
    padding-left: 10px;
}

.results td:nth-of-type(n+2):nth-of-type(-n+4) {
    background-color: blue;
    font-weight: bold;
}

.results p {
    text-align: left;
}

.results p.results {
    text-decoration: underline;
    font-size:  var(--fontSize25);
}

.teamResults table td:nth-of-type(2) {
    text-align: right;
    padding: 0 5px;
}

.teamResults {

}

.teamResults table td:nth-of-type(6) {
    text-align: left;
    padding: 0 5px;
}

.teamResults table td:nth-of-type(n+3):nth-of-type(-n+5) {
    font-weight: bold;
}

.teamResults table td:nth-of-type(1) {
    border-right: 1px dotted black;
}

.fixtures {
    margin: 10px;
    padding: 5px;
    font-size: var(--fontSize20);
}

.fixtures td:nth-child(1) {
    text-align: right;
    padding-right: 10px;
}

.fixtures td:nth-child(2) {
    text-align: left;
    padding-left: 10px
}

.fixture table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.fixture td {
    padding-right: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-size: var(--fontSize20);
}

.fixture a {
    font-size: var(--fontSize20);
    margin: 0 25px 0 0; 
}

.fixture p {
    font-size: var(--fontSize20);
}

.footer {
    clear: both;
    margin-top: 100px;
    text-align: center;
}

.footer p {
    font-size: var(--fontSize20);
}


@media screen and (max-width: 768px) {
    :root {
        --color: white; 
        --logoWidth: 30px;
        --clubLogoWidth: 70px;
        --fontSize30: 25px;
        --fontSize25: 20px;
        --fontSize20: 15px;
        --fontSize15: 10px;
    }

}

@media screen and (max-width: 480px) {
    :root {
        --color: white; 
        --logoWidth: 20px;
        --clubLogoWidth: 50px;
        --fontSize30: 20px;
        --fontSize25: 15px;
        --fontSize20: 12px;
        --fontSize15: 10px;
        --gridTemplateColumns: auto;
    }
    
    #trophy {
        display: none;
    }
}