:root {
    --color: white; 
}


body {
    background-color: var(--color);
}

#logo {
    width: 7%
}

.title{
    font-size: 40px;
    vertical-align: top;
}

.logos {
    display: flex;
}

.logos a {
    text-decoration: none;
}

.logos li {
    list-style: none
}

.logos img {
    width: 100%
}

.pauza {
    display: none
}

.teamEdit {
    margin: 5px 10px 20px;
    box-shadow: 0 0 10px black;
    padding: 10px 5px
}

.teamEdit a {
    margin: 0 0 0 5px;
    text-decoration: none;
}

.headerEdit a {
    text-decoration: none;
}

.mDayInput span {
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 0 0 5px black;
    margin: 5px 10px 20px;
}

.mDayInput a {
    margin: 0 0 0 5px;
    text-decoration: none;
}

#k5, #k6, #k7, #k8, #k9 {
    display: none;
    margin: 15px 10px 20px;
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}