<!DOCTYPE html>
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header" th:fragment="header">
      <a th:href="@{/}"><img id="logo" th:src="@{grb.png}"/></a><span class="title">Fair Play Liga Budućih Šampiona</span>
      <ul class="logos">
        <li th:each="tim: ${teamLogos}">
          <img th:class="${tim?.teamName}" th:src="@{${tim?.id} + '.png'}"/>
          <p>
            <a th:class="${tim?.teamName}" th:href="@{/team(index = ${tim?.id})}" th:text="${tim?.teamName}"></a>
          </p>
        </li>
      </ul>
    </div>
    <div class="headerEdit" th:fragment="teamEdit">
      <h1><a th:href="@{/}">Fair Play Liga Budućih Šampiona</a></h1>
      <div class="teamEdit">
        <p>Izmjena ekipa...</p>
        <a th:each="tim: ${teamLogos}" th:text="${tim?.teamName}" th:href="@{/editTeam5(index = ${tim?.id})}" th:class="${tim?.teamName}">tabela</a>
      </div>
      <div class="mDayInput">
        <span id="g5">2005. godiste</span>
        <span id="g6">2006. godiste</span>
        <span id="g7">2007. godiste</span>
        <span id="g8">2008. godiste</span>
        <span id="g9">2009. godiste</span>
        <div id="k5">2005 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/enterMatchDayResults5(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>  
        <div id="k6">2006 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/enterMatchDayResults6(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>        
        <div id="k7">2007 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/enterMatchDayResults7(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>       
        <div id="k8">2008 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/enterMatchDayResults8(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>
        <div id="k9">2009 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/enterMatchDayResults9(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>
      </div>
    </div>
    <div class="footer" th:fragment="footer">
      <h3>Fair Play Liga Budućih Šampiona</h3>
      <a th:href="@{/admin}">Administrator</a>
    </div>
  </body>
</html>
