<!DOCTYPE html>
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div th:fragment="header">
      <h1><a th:href="@{/}">Fair Play Liga Budućih Šampiona</a></h1>
      <div class="list">
        <a th:each="tim: ${leagueTable}" th:text="${tim.teamName}" th:href="@{/team(index = ${tim.id})}">tabela</a>
      </div>
    </div>
    <div th:fragment="teamEdit">
      <h1><a th:href="@{/}">Fair Play Liga Budućih Šampiona</a></h1>
      <div class="list">
        <a th:each="tim: ${leagueTable}" th:text="${tim.teamName}" th:href="@{/editTeam(index = ${tim.id})}">tabela</a>
      </div>
      <div>
        <a th:each="r: ${pairs}" th:href="@{/enterMatchDayResults(index = ${r.key})}" th:text="${r.key} + '. kolo: unos'">unos rezultata kola</a>
      </div>
    </div>
    <div th:fragment="footer">
      <h3>Fair Play Liga Budućih Šampiona</h3>
      <a th:href="@{/admin}">Administrator</a>
    </div>
  </body>
</html>
