<!DOCTYPE html>
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="fpLogo" th:fragment="fpLOGO">
      <a th:href="@{/}"><img id="logo" th:src="@{/grb.png}"/></a>
      <span class="title1">Fair Play</span><span class="title2">Liga Budućih Šampiona</span>
      <img id="trophy" th:src="@{/trophy.png}"/>
    </div>
    <ul class="logos"  th:fragment="header">
      <li th:each="tim: ${teamLogos}">
        <a th:class="${tim?.teamName}" th:href="@{/team(index = ${tim?.id})}">
          <img th:class="${tim?.teamName}" th:src="@{${tim?.id} + '.png'}"/>
          <p th:text="${tim?.teamName}"></p>
        </a>       
      </li>
    </ul>
    <div class="headerEdit" th:fragment="teamEdit"> 
      <p>Izmjena ekipa</p>
      <div class="teamEdit"> 
        <a th:each="tim: ${teamLogos}" th:text="${tim?.teamName}" th:href="@{/admin/editTeam(index = ${tim?.id})}" th:class="${tim?.teamName}">tabela</a>
      </div>
      <div class="mDayInput">
        <p id="g5">2005. godiste</p>
        <p id="g6">2006. godiste</p>
        <p id="g7">2007. godiste</p>
        <p id="g8">2008. godiste</p>
        <p id="g9">2009. godiste</p>
        <div id="k5">2005 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/admin/enterMatchDayResults5(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>  
        <div id="k6">2006 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/admin/enterMatchDayResults6(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>        
        <div id="k7">2007 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/admin/enterMatchDayResults7(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>       
        <div id="k8">2008 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/admin/enterMatchDayResults8(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>
        <div id="k9">2009 godiste<br>
          <a th:each="r: ${pairs}" th:href="@{/admin/enterMatchDayResults9(index = ${r.key})}" th:text="${r.key} + '. kolo'">unos rezultata kola</a>
        </div>
      </div>
      <div>      
        <span class="save"><a th:href="@{/admin/save}">Snimi promjene</a></span>
        <a class="deleteMday" th:href="@{/admin/deleteMDay}">Brisi zadnje kolo</a>
      </div>
    </div>
    <div class="footer" th:fragment="footer">
      <h3>Fair Play Liga Budućih Šampiona</h3>
      <p>Fair Play Liga je formirana sa osnovnim ciljem da podstakne najmlađe učesnike sportskih manfestacija – djecu, 
        da se kroz igru i zabavu nauče fer-plej ponašanju.
        Osnovna ideja u osnivanju Fair Play lige je bila da se propišu jedinstveni standardi – 
        propozicije i pravila koja su potpuno prilagođena djeci.</p>
      <p>OSNOVNI PRINCIPI U ORGANIZACIJI FAIR PLAY LIGE</p>
      <p> Fair Play Liga se sprovodi na osnovu jedinstvenog sistema takmičenja, koji je potpuno prilagođen djeci, 
        zavisno od njihovog uzrasta:<br>
        – ravnopravne takmičarske grupe, svako dijete se može radovati po nekoj pobjedi čak i početnici,
        pa se ne gubi motiv za bavljenjem sportom,<br>
        – 3. poluvrijeme svih utakmica, da bi djeca koja su manje igrala u regularnom toku dobila šansu da pokažu svoje umijeće,<br>
        – djevojčice i dječaci u istim timovima, afirmacija ideje da se sport ne dijeli na muški i ženski.</p>
      <a th:href="@{/admin}">Admin</a>
    </div>
  </body>
</html>
