<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Fair Play LBŠ</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:insert="fragments :: fpLOGO"></div>
    <div th:insert="fragments :: header"></div>
    <div class="content">
      <div class="results">
        <p th:text="${lastMDay} + '. kolo (2005)'"></p>
        <table>         
          <tr th:each="rez: ${results5.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td> 
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td>-</td>
            <td th:text="${rez.goalsAway}">Some name</td> 
            <td th:text="${rez.awayTeam}">Some name</td> 
          </tr>
          <tr th:if="${lastMDay} > 0">
            <td colspan="5" th:text="|${freeTeam.get(lastMDay)} pauzira|"></td>   
          </tr>
        </table>
      </div>
      <div class="table">
        <p>Tabela</p>
        <table>
          <tr>
            <th></th>
            <th>2005</th>
            <th></th>
            <th>OS</th>
            <th>P</th>
            <th>N</th>
            <th>I</th>
            <th>G</th>
            <th>GR</th>
            <th>B</th>
          </tr>
          <tr th:each="tim, i: ${leagueTable5}">
            <td th:text="${i.count}"></td>
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored} + ':' + ${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.goalsScored - tim.goalsConceded}"></td>
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <p th:text="${lastMDay} + '. kolo (2006)'"></p>
        <table>        
          <tr th:each="rez: ${results6.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>           
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td>-</td>
            <td th:text="${rez.goalsAway}">Some name</td> 
            <td th:text="${rez.awayTeam}">Some name</td> 
          </tr>
          <tr th:if="${lastMDay} > 0">
            <td colspan="5" th:text="|${freeTeam.get(lastMDay)} pauzira|"></td>   
          </tr>
        </table>
      </div>
      <div class="table">
        <p>Tabela</p>
        <table>
          <tr>
            <th></th>
            <th>2006</th>
            <th></th>
            <th>OS</th>
            <th>P</th>
            <th>N</th>
            <th>I</th>
            <th>G</th>
            <th>GR</th>
            <th>B</th>
          </tr>
          <tr th:each="tim, i: ${leagueTable6}">
            <td th:text="${i.count}"></td>
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored} + ':' + ${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.goalsScored - tim.goalsConceded}"></td>
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <p th:text="${lastMDay} + '. kolo (2007)'"></p>
        <table>         
          <tr th:each="rez: ${results7.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>        
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td>-</td>
            <td th:text="${rez.goalsAway}">Some name</td> 
            <td th:text="${rez.awayTeam}">Some name</td> 
          </tr>
          <tr th:if="${lastMDay} > 0">
            <td colspan="5" th:text="|${freeTeam.get(lastMDay)} pauzira|"></td>   
          </tr>
        </table>
      </div>
      <div class="table">
        <p>Tabela</p>
        <table>
          <tr>
            <th></th>
            <th>2007</th>
            <th></th>
            <th>OS</th>
            <th>P</th>
            <th>N</th>
            <th>I</th>
            <th>G</th>
            <th>GR</th>
            <th>B</th>
          </tr>
          <tr th:each="tim, i: ${leagueTable7}">
            <td th:text="${i.count}"></td>
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored} + ':' + ${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.goalsScored - tim.goalsConceded}"></td>
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <p th:text="${lastMDay} + '. kolo (2008)'"></p>
        <table>         
          <tr th:each="rez: ${results8.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>          
            <td th:text="${rez.goalsHome}">Some name</td>        
            <td>-</td>
            <td th:text="${rez.goalsAway}">Some name</td>
            <td th:text="${rez.awayTeam}">Some name</td> 
          </tr>
          <tr th:if="${lastMDay} > 0">
            <td colspan="5" th:text="|${freeTeam.get(lastMDay)} pauzira|"></td>   
          </tr>
        </table>
      </div>
      <div class="table">
        <p>Tabela</p>
        <table>
          <tr>
            <th></th>
            <th>2008</th>
            <th></th>
            <th>OS</th>
            <th>P</th>
            <th>N</th>
            <th>I</th>
            <th>G</th>
            <th>GR</th>
            <th>B</th>
          </tr>
          <tr th:each="tim, i: ${leagueTable8}">
            <td th:text="${i.count}"></td>
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored} + ':' + ${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.goalsScored - tim.goalsConceded}"></td>
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <p th:text="${lastMDay} + '. kolo (2009)'"></p>
        <table>         
          <tr th:each="rez: ${results9.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>           
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td>-</td>
            <td th:text="${rez.goalsAway}">Some name</td> 
            <td th:text="${rez.awayTeam}">Some name</td> 
          </tr>
          <tr th:if="${lastMDay} > 0">
            <td th:if="${lastMDay} > 0" colspan="5" th:text="|${freeTeam.get(lastMDay)} pauzira|"></td>   
          </tr>
        </table>
      </div>
      <div class="table">
        <p>Tabela</p>
        <table>
          <tr>
            <th></th>
            <th>2009</th>
            <th></th>
            <th>OS</th>
            <th>P</th>
            <th>N</th>
            <th>I</th>
            <th>G</th>
            <th>GR</th>
            <th>B</th>
          </tr>
          <tr th:each="tim, i: ${leagueTable9}">
            <td th:text="${i.count}"></td>
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored} + ':' + ${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.goalsScored - tim.goalsConceded}"></td>
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="fixture">
        <h4 th:text="|Naredno (${lastMDay + 1}.) kolo|"></h4>
        <table>
          <tr th:each="par: ${pairs.get(lastMDay + 1)}">
            <div th:if="${teamLinks.get(par.homeTeam).teamName.equals('pauza')}">
              <p th:text="|${teamLinks.get(par.awayTeam).teamName} pauzira|"></p>
            </div>
            <div th:if="${teamLinks.get(par.awayTeam).teamName.equals('pauza')}">
              <p th:text="|${teamLinks.get(par.homeTeam).teamName} pauzira|"></p>              
            </div>     
            <div th:unless="${teamLinks.get(par.homeTeam).teamName.equals('pauza') or teamLinks.get(par.awayTeam).teamName.equals('pauza')}">
              <td th:text="${teamLinks.get(par.homeTeam).teamName}"></td>
              <td th:text="${teamLinks.get(par.awayTeam).teamName}"></td>          
            </div>
          </tr>
        </table>
        <a th:href="@{/results}">Svi rezultati...</a><a th:href="@{/fixtures}" th:text="Raspored..."></a>
      </div>
    </div>    
    <div th:insert="fragments :: footer"></div>
  </body>
</html>