<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Fair Play LBŠ</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:insert="fragments :: header"></div>
    <div class="content">
      <div class="results">
        <h4>Rezultati prethodnog kola</h4>
        <table>
          <tr th:each="rez: ${results5.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>
            <td th:text="${rez.awayTeam}">Some name</td> 
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td th:text="${rez.goalsAway}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="table">
        <h4>Tabela</h4>
        <table>
          <tr th:each="tim: ${leagueTable5}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h4>Rezultati prethodnog kola</h4>
        <table>
          <tr th:each="rez: ${results6.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>
            <td th:text="${rez.awayTeam}">Some name</td> 
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td th:text="${rez.goalsAway}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="table">
        <h4>Tabela</h4>
        <table>
          <tr th:each="tim: ${leagueTable6}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h4>Rezultati prethodnog kola</h4>
        <table>
          <tr th:each="rez: ${results7.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>
            <td th:text="${rez.awayTeam}">Some name</td> 
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td th:text="${rez.goalsAway}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="table">
        <h4>Tabela</h4>
        <table>
          <tr th:each="tim: ${leagueTable7}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h4>Rezultati prethodnog kola</h4>
        <table>
          <tr th:each="rez: ${results8.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>
            <td th:text="${rez.awayTeam}">Some name</td> 
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td th:text="${rez.goalsAway}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="table">
        <h4>Tabela</h4>
        <table>
          <tr th:each="tim: ${leagueTable8}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h4>Rezultati prethodnog kola</h4>
        <table>
          <tr th:each="rez: ${results9.get(lastMDay)}">
            <td th:text="${rez.homeTeam}">Some name</td>
            <td th:text="${rez.awayTeam}">Some name</td> 
            <td th:text="${rez.goalsHome}">Some name</td> 
            <td th:text="${rez.goalsAway}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="table">
        <h4>Tabela</h4>
        <table>
          <tr th:each="tim: ${leagueTable9}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="raspored">
        <h3>Naredno (<span th:text="${lastMDay + 1}"></span>.) kolo</h3>
        <table>
          <tr th:each="par: ${pairs.get(lastMDay + 1)}">
            <td th:text="${teamLinks.get(par.homeTeam).teamName}">Some name</td>
            <td th:text="${teamLinks.get(par.awayTeam).teamName}">Some name</td> 
          </tr>
        </table>
        <a th:href="@{/results}">Svi rezultati...</a><a th:href="@{/fixtures}" th:text="Raspored..."></a>
      </div>
    </div>    
    <div th:insert="fragments :: footer"></div>
  </body>
</html>
