<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Fair Play LBŠ</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:insert="fragments :: header"></div>
    <div class="content">
      <div class="results">
        <h3>Rezultati:</h3>
        <table>
          <tr th:each="element: ${results5}">
            <td th:text="${element.key}+ '. kolo:'"></td>
            <table>
              <tr th:each="rez: ${element.value}">
                <td th:text="${rez.homeTeam}">Some name</td>
                <td th:text="${rez.awayTeam}">Some name</td> 
                <td th:text="${rez.goalsHome}">Some name</td> 
                <td th:text="${rez.goalsAway}">Some name</td> 
              </tr>
            </table>
          </tr>
        </table>
      </div>
      <div class="table">
        <h3>Tabela: </h3>
        <table>
          <tr th:each="tim: ${leagueTable5}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h3>Rezultati:</h3>
        <table>
          <tr th:each="element: ${results6}">
            <td th:text="${element.key}+ '. kolo:'"></td>
            <table>
              <tr th:each="rez: ${element.value}">
                <td th:text="${rez.homeTeam}">Some name</td>
                <td th:text="${rez.awayTeam}">Some name</td> 
                <td th:text="${rez.goalsHome}">Some name</td> 
                <td th:text="${rez.goalsAway}">Some name</td> 
              </tr>
            </table>
          </tr>
        </table>
      </div>
      <div class="table">
        <h3>Tabela: </h3>
        <table>
          <tr th:each="tim: ${leagueTable6}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h3>Rezultati:</h3>
        <table>
          <tr th:each="element: ${results7}">
            <td th:text="${element.key}+ '. kolo:'"></td>
            <table>
              <tr th:each="rez: ${element.value}">
                <td th:text="${rez.homeTeam}">Some name</td>
                <td th:text="${rez.awayTeam}">Some name</td> 
                <td th:text="${rez.goalsHome}">Some name</td> 
                <td th:text="${rez.goalsAway}">Some name</td> 
              </tr>
            </table>
          </tr>
        </table>
      </div>
      <div class="table">
        <h3>Tabela: </h3>
        <table>
          <tr th:each="tim: ${leagueTable7}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h3>Rezultati:</h3>
        <table>
          <tr th:each="element: ${results8}">
            <td th:text="${element.key}+ '. kolo:'"></td>
            <table>
              <tr th:each="rez: ${element.value}">
                <td th:text="${rez.homeTeam}">Some name</td>
                <td th:text="${rez.awayTeam}">Some name</td> 
                <td th:text="${rez.goalsHome}">Some name</td> 
                <td th:text="${rez.goalsAway}">Some name</td> 
              </tr>
            </table>
          </tr>
        </table>
      </div>
      <div class="table">
        <h3>Tabela: </h3>
        <table>
          <tr th:each="tim: ${leagueTable8}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      <div class="results">
        <h3>Rezultati:</h3>
        <table>
          <tr th:each="element: ${results9}">
            <td th:text="${element.key}+ '. kolo:'"></td>
            <table>
              <tr th:each="rez: ${element.value}">
                <td th:text="${rez.homeTeam}">Some name</td>
                <td th:text="${rez.awayTeam}">Some name</td> 
                <td th:text="${rez.goalsHome}">Some name</td> 
                <td th:text="${rez.goalsAway}">Some name</td> 
              </tr>
            </table>
          </tr>
        </table>
      </div>
      <div class="table">
        <h3>Tabela: </h3>
        <table>
          <tr th:each="tim: ${leagueTable9}">
            <td th:text="${tim.teamName}">Some name</td>
            <td th:text="${tim.teamCity}">Some name</td> 
            <td th:text="${tim.gamesPlayed}">Some name</td> 
            <td th:text="${tim.gamesWon}">Some name</td> 
            <td th:text="${tim.gamesDrew}">Some name</td> 
            <td th:text="${tim.gamesLost}">Some name</td> 
            <td th:text="${tim.goalsScored}">Some name</td> 
            <td th:text="${tim.goalsConceded}">Some name</td> 
            <td th:text="${tim.points}">Some name</td> 
          </tr>
        </table>
      </div>
      
<!--      <div class="raspored">
        <h3>Raspored:</h3>
        <table>
          <tr th:each="element: ${pairs}">
            <td th:text="${element.key} + '. kolo:'"></td>
            <table>
              <tr th:each="par: ${element.value}">
                <td th:text="${teamLinks.get(par.homeTeam).teamName}">Some name</td>
                <td th:text="${teamLinks.get(par.awayTeam).teamName}">Some name</td> 
              </tr>
            </table>
          </tr>
        </table>
      </div>-->
    </div>    
    <div th:insert="fragments :: footer"></div>
  </body>
</html>
