<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Fair Play LBŠ</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div th:insert="fragments :: fpLOGO"></div>
    <div th:insert="fragments :: header"></div>
    <div class="content">     
      <div class="fixtureNext">
        <table class="nextGame">
          <tr>
            <td class="liga" colspan="6">Fair Play Liga Budućih Šampiona</td>
          </tr>
          <tr>           
            <td class="leagueDate" colspan="6" th:text="|${lastMDay + 1}. kolo (${leagueDates.get(lastMDay + 1)})|"></td>
          </tr>
          <tr th:each="par: ${pairs.get(lastMDay + 1)}">   
            <div th:unless="${teamLinks.get(par.homeTeam).teamName.equals('pauza') or teamLinks.get(par.awayTeam).teamName.equals('pauza')}"> 
              <td class="nextGameH" th:text="${teamLinks.get(par.homeTeam).teamName}"></td>
              <td class="nextGameImg"><img th:src="@{'logos/' + ${teamLinks.get(par.homeTeam).id} + '.png'}"/></td>
              <td class="nextGameTime" th:text="${teamLinks.get(par.homeTeam).gameTime}"></td>
              <td class="nextGameImg"><img th:src="@{'logos/' + ${teamLinks.get(par.awayTeam).id} + '.png'}"/></td>
              <td class="nextGameA" th:text="${teamLinks.get(par.awayTeam).teamName}"></td>          
            </div>
          </tr>
        </table>
      </div>
    </div>    
    <div th:insert="fragments :: footer"></div>
  </body>
</html>