<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${team5.teamName}">Ekipa</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  </head>
  <body>
    <div th:insert="fragments :: fpLOGO"></div>
    <div th:insert="fragments :: header"></div>
    <div class="team">
      <h3 th:text="${team5.teamName}"></h3>
      <img class="teamLogo" th:src="@{'/logosBig/' + ${team5.id} + '.png'}"/>
      <table>
        <tr>
          <td>Ekipa</td><td th:text="${team5.teamName}"></td>
        </tr>
        <tr>
          <td>Grad</td><td th:text="${team5.teamCity}"></td>
        </tr>
        <tr>
          <td>Dvorana</td><td th:text="${team5.venue}"></td>
        </tr>
        <tr>
          <td>Termin</td><td th:text="${team5.gameTime}"></td>
        </tr>
        <tr>
          <td>Klupske boje</td> <td th:text="${team5.kitColor}"></td>
        </tr>
      </table>
      <h4>Rezultati:</h4>
      <div>
        <div class="teamResults">
          <table>
            <h5 th:unless="${results9.isEmpty()}" th:text="2009">2009</h5>
            <tr th:each="tim: ${results9}">
              <td th:text="${tim.matchDay} + '. kolo'"></td>
              <td th:text="${tim.homeTeam}"></td>           
              <td th:text="${tim.goalsHome}"></td>
              <td>-</td>
              <td th:text="${tim.goalsAway}"></td>
              <td th:text="${tim.awayTeam}"></td>
            </tr>
          </table>
        </div>               
        <div class="teamResults">
          <table>
            <h5 th:unless="${results8.isEmpty()}" th:text="2008">2008</h5>
            <tr th:each="tim: ${results8}">
              <td th:text="${tim.matchDay} + '. kolo'"></td>
              <td th:text="${tim.homeTeam}"></td>              
              <td th:text="${tim.goalsHome}"></td>
              <td>-</td>
              <td th:text="${tim.goalsAway}"></td>
              <td th:text="${tim.awayTeam}"></td>
            </tr>
          </table>
        </div>
        <div class="teamResults">
          <table>
            <h5 th:unless="${results7.isEmpty()}" th:text="2007">2007</h5>
            <tr th:each="tim: ${results7}">
              <td th:text="${tim.matchDay} + '. kolo'"></td>
              <td th:text="${tim.homeTeam}"></td>            
              <td th:text="${tim.goalsHome}"></td>
              <td>-</td>
              <td th:text="${tim.goalsAway}"></td>
              <td th:text="${tim.awayTeam}"></td>
            </tr>
          </table>
        </div>
        <div class="teamResults">
          <table>
            <h5 th:unless="${results6.isEmpty()}" th:text="2006">2006</h5>
            <tr th:each="tim: ${results6}">
              <td th:text="${tim.matchDay} + '. kolo'"></td>
              <td th:text="${tim.homeTeam}"></td>             
              <td th:text="${tim.goalsHome}"></td>
              <td>-</td>
              <td th:text="${tim.goalsAway}"></td>
              <td th:text="${tim.awayTeam}"></td>
            </tr>
          </table>
        </div>
        <div class="teamResults">
          <table>
            <h5 th:unless="${results5.isEmpty()}" th:text="2005">2005</h5>
            <tr th:each="tim: ${results5}">
              <td th:text="${tim.matchDay} + '. kolo'"></td>
              <td th:text="${tim.homeTeam}"></td>              
              <td th:text="${tim.goalsHome}"></td>
              <td>-</td>
              <td th:text="${tim.goalsAway}"></td>
              <td th:text="${tim.awayTeam}"></td>
            </tr>
          </table>
        </div>       
      </div>
    </div>
    <div th:insert="fragments :: footer"></div>
  </body>
</html>
