<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${team.teamName}">Ekipa</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    </head>
    <body>
        <div th:insert="fragments :: header"></div>
        <div><h3>Ekipa: <span th:text="${team.teamName}"></span></h3>      
            <table>
                <tr>
                    <td>Naziv:</td><td th:text="${team.teamName}"></td>
                </tr>
                <tr>
                    <td>Grad:</td><td th:text="${team.teamCity}"></td>
                </tr>
                <tr>
                    <td>Dvorana:</td><td th:text="${team.venue}"></td>
                </tr>
                <tr>
                    <td>Klupske boje:</td> <td th:text="${team.kitColor}"></td>
                </tr>
                <tr>
                    <td>Odigrano:</td><td th:text="${team.gamesPlayed}"></td>
                </tr>
                <tr>
                    <td>Pobjede:</td><td th:text="${team.gamesWon}"></td>
                </tr>
                <tr>
                    <td>Nerjeseno:</td><td th:text="${team.gamesDrew}"></td>
                </tr>
                <tr>
                    <td>Porazi:</td><td th:text="${team.gamesLost}"></td>
                </tr>
                <tr>
                    <td>GolZA:</td><td th:text="${team.goalsScored}"></td>
                </tr>
                <tr>
                    <td>GolProtiv</td><td th:text="${team.goalsConceded}"></td>
                </tr>
                <tr>
                    <td>Bodovi:</td><td th:text="${team.points}"></td>
                </tr>
            </table>
            <div>
                <h3>Rezultati:</h3>
                <table>
                    <tr th:each="tim: ${results}">
                        <td th:text="${tim.matchDay} + '. kolo'"></td>
                        <td th:text="${tim.homeTeam}"></td>
                        <td th:text="${tim.awayTeam}"></td>
                        <td th:text="${tim.goalsHome}"></td>
                        <td th:text="${tim.goalsAway}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
