<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${updatedTeamB.teamName}">Ekipa</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  </head>
  <body>
    <div th:insert="fragments :: teamEditB"></div>
    <div class="team">
      <p>Ekipa (ispravka):</p> 
      <table th:object="${updatedTeamB}">
        <tr>
          <td>ID:</td>
          <td th:text="*{id}"></td>
        </tr>
        <tr>
          <td>Ekipa</td><td th:text="*{teamName}"></td>
        </tr>
        <tr>
          <td>Grad</td><td th:text="*{teamCity}"></td>
        </tr>
        <tr>
          <td>Dvorana</td><td th:text="*{venue}"></td>
        </tr>
        <tr>
          <td>Klupske boje</td><td th:text="*{kitColor}"></td>
        </tr>
      </table>
    </div>
    <div th:insert="fragments :: footer"></div>
  </body>
</html>
